<h3 class="text-xl pb-3 text-slate-700 font-bold">
  Search By Region: <small>{{ regionActive | titlecase }}</small>
</h3>
<hr />

<div class="w-full my-3">
  <app-country-input
    (onEnter)="search($event)"
    (onDebounce)="suggestions($event)"
    placeholder="Search Region..."
  ></app-country-input>
</div>

<hr />

<div class="flex gap-2 mt-4">
  <button
    *ngFor="let region of regions"
    class="px-3 py-1 rounded bg-cyan-100 text-sm text-cyan-700 hover:bg-cyan-200 transition-colors"
    [class]="getClass(region)"
    (click)="activateRegion(region)"
  >
    {{ region | titlecase }}
  </button>
</div>

<hr class="block my-4" />

<div *ngIf="hasError" class="mb-3 bg-red-200 text-red-800 rounded-md p-3">
  :( No results found for {{ terms }}
</div>

<app-country-table [countries]="listCountries"></app-country-table>
