<table
  *ngIf="countries.length > 0"
  class="w-full text-sm text-left text-gray-500"
>
  <thead class="text-sm text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="py-3 px-6">#</th>
      <th scope="col" class="py-3 px-6">Flag</th>
      <th scope="col" class="py-3 px-6">Name</th>
      <th scope="col" class="py-3 px-6">Poblation</th>
      <th scope="col" class="py-3 px-6"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of countries; let idx = index"
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
    >
      <td class="py-4 px-6">{{ 1 + idx }}</td>
      <td class="py-4 px-6">
        <img
          src="{{ item.flags.svg }}"
          alt="{{ item.name.official }}"
          class="w-20"
        />
      </td>
      <td class="py-4 px-6">{{ item.capital }}, {{ item.name.official }}</td>
      <td class="py-4 px-6">{{ item.population | number }}</td>
      <td class="py-4 px-6">
        <a [routerLink]="['/country', item.cca2]">Ver..</a>
      </td>
    </tr>
  </tbody>
</table>
